<launch>

	<node name="gps_receiver" pkg="gps" type="gps_receiver">
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" >
    <rosparam>
      magnetic_declination_radians: 0
      roll_offset: 0
      pitch_offset: 0
      yaw_offset: 0
      zero_altitude: false
      broadcast_utm_transform: false
    </rosparam>
    <remap from="/imu/data" to="/rtimulib_node/imu" />
    <remap from="/gps/fix"  to="/sensor/gps/fix" />
  </node>

</launch>
